<!DOCTYPE html>
<html lang="en">

    <head>
        <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>

        <link rel="stylesheet" type="text/css" href="/styles/base.css">
    </head>

    <body>
        <a href="/"><h2>Home</h2></a>

        <h1>Display Battles</h1>
        <div class="layout-flow-column">
            <form action="/battles" method=get>
                <div class="layout-flow-column">
                    <label for="start">Start Time:</label>
                    <input type=text name="start_time" autofocus="true" required="true" value="{{ initial_start_time }}" /><br>
                </div> 

                <div class="layout-flow-column">
                    <label for="end">End Time:</label>
                    <input type=text name="end_time" required="true" value="{{ initial_end_time }}" /><br>
                </div> 

                <div class="layout-flow-column">
                    <input type=submit id="submit"></input><br>
                </div> 
            </form>
        </div>

        <h2>{{ error }}</h2>

        <hr class="divider">

        Start time was {{ start_time }}<br>
        End time was {{ end_time }}<br>

        <hr class="divider">

        {% for log in logs %}
            Attacker {{ log.attacker_nick_name }}<br>
            Defender {{ log.defender_nick_name }}<br>
            Winner {{ log.winner_nick_name }}<br>
            Battle Start {{ log.battle_start_time }}<br>
            Battle End {{ log.battle_end_time }}<br>
            <hr class="divider">
        {% endfor %}

    </body>

</html>
