<!DOCTYPE html>
<html lang="en">

    <head>
        <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>

        <link rel="stylesheet" type="text/css" href="/styles/base.css">
    </head>

    <body>
        <a href="/users/create"><h1>Create New User</h1></a>
        <a href="/users/search"><h1>Search for Users</h1></a>
        <a href="/battles"><h1>Display Battles</h1></a>
    </body>

</html>
