<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" type="text/css" href="/styles/base.css">
    </head>

    <body>
        <a href="/"><h2>Home</h2></a>

        <h1>Search for Users</h1>
        <div class="layout-flow-column">
            <form action="/users/search" method="get">
                <div class="layout-flow-column">
                    <input type=text id="search" /><br>
                </div> 
                <div class="layout-flow-column">
                    <input type=submit id="submit" /><br>
                </div> 
            </form>
        </div> 

        <hr class="divider">

        // Generate the list of user to display in this section of the template.

    </body>
</html>
