<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" type="text/css" href="/styles/base.css">
    </head>

    <body>
        <a href="/"><h2>Home</h2></a>

        <h1>Search for Users</h1>
        <div class="layout-flow-column">
            <form action="/users/search" method="GET">
                <div class="layout-flow-column">
                    <input type=search name="nickname" autofocus="true"/><br>
                </div> 
                <div class="layout-flow-column">
                    <input type=submit /><br>
                </div> 
            </form>
        </div> 

        <h2>{{ error }}</h2>

        <hr class="divider">

        <ul>
            {% for user in users %}
                <li><a href="{{ user.url }}">{{ user.nickname }}</a></li>
            {% endfor %}
        </ul>


    </body>
</html>
